#dodger {
  background-color: white;
  background-image: url(https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/p960x960/35159259_1830605480352413_6418758577250369536_o.jpg?_nc_cat=106&ccb=2&_nc_sid=85a577&_nc_ohc=vPs_hfsMpkoAX-enTky&_nc_ht=scontent.fapa1-1.fna&tp=6&oh=89c638aea99117cb1518570caae65ecb&oe=5FC10C66);
  background-size: cover;
  height: 100px;
  position: absolute;
  width: 100px;
}

#game {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px solid tan;
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-top: 6px solid tan;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}
